@font-face {
   font-family: 'msjhbd';
   src: url('msjhbd/font.ttf');
}
@font-face {
   font-family: 'WCL03';
   src: url('WCL03/font.ttf');
}
@font-face {
   font-family: 'wt011';
   src: url('wt011/font.ttf');
}
